{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "useBuiltIns": "usage",
      "targets": {
        "node": "6"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}