{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": false,
        "node": "6",
        "modules": false,
        "loose": true,
        "useBuiltIns": "entry"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}