{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 8,
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
  ],
  "plugins": ["babel"],
  "rules": {
    "no-console": 0,
    "require-await":"error",
    "prettier/prettier": [
      "error",
      null,
      {
        "usePrettierrc": true
      }
    ]
  }
}
